*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #EEEEEE;
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-family:"Times New Roman", Times, serif;
}

footer{
	clear:both;
}
.ketthuc{
    height: 40px;
    background-color: #186BAB;
	font-weight:bold;
	font-size:20px;
}










