*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #EEEEEE;
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-family:"Times New Roman", Times, serif;
}

header{
	position:relative;
	background-color: #186BAB;
	display: flex;
}

h1{
	padding: 50px 100px 20px;
}

p{
	padding-left: 105px;
	font-size: 40px ;
	font-family: Arial;
	font-weight:bold;
}
.header1{
	color: white;
	
	width: auto;
}

.header2{
	padding-left: 200px;
}

.menu{
	width:auto;
	margin:0 auto;
	top:0px;	
}

.ul-nav{
	max-width: 2100px;
	border: 1px solid black;
	
	background-color: white;
}



.ul{
	padding-left: 900px;
}

nav>ul>li{
	display:inline-block;
	position:relative;

	}
	
nav>ul>li>a{
	
	display:block;
	text-decoration:none;
	padding:0 15px;
	line-height:50px;
	color:black;
	font-weight:bold;
	}

nav>ul{
	
	margin:0px;
	list-style:none;
	
	background-color:white;
	
	} 		
nav ul ul{
	position:absolute;
	display:none;
	padding:0px;
	margin:0px;
	list-style:none;
	width:250px;

	}
nav ul ul a{
	display:block;
	line-height:30px;

	color:black;
	font-weight:bold;
	text-decoration:none;
	padding:10px 10px;}  	
nav > ul > li:hover>ul{
	display:block;
}	
nav ul ul a:hover{
	color:#FF0;
}
.a img{
transition-duration: 0.5s;
}
.a img:hover{
transform:scale(1.5);
}
nav ul li ul li:hover > ul{
    display:  block;
}




  

  
th, td, tr{
	border: 1px solid;
}